:root {
  --primary-tex-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --background-color: #2f303a;
  --font-weight-title: bold;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --animation: 250ms;
}

body {
  color: var(--primary-tex-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* =======код відключання======= */

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/* =======Логотип======= */

.nav__logo_span {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.nav__logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

/* =======розмітка Хедера======= */

.link {
  position: relative;
  color: var(--title-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--animation) var(--cubic);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.nav__link-activ {
  color: var(--accent-color);
}
.contact__link {
  color: var(--primary-tex-color);
  display: flex;
}
.nav__link-activ::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--accent-color);
  bottom: -32px;
}

.heder__contact {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-self: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navi {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}
.contact__item:first-child {
  margin-right: 50px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page__header {
  border-bottom: 1px solid #f5f4fa;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact__icon {
  align-items: center;
  margin-right: 10px;
  fill: var(--primary-tex-color);
  transition: fill, var(--animation) var(--cubic);
}
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}
/* =======розмітка героя======= */

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/teamhero.jpg);
}
.hero__title {
  max-width: 690px;
  display: block;
  margin: 0 auto 30px;

  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-title);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--animation) var(--cubic);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* =======Розмітка модельного вікна======= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation) var(--cubic);
  z-index: 1;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 590px;
  background-color: var(--white-text-color);
  padding: 15px;
  transition: transform var(--animation) var(--cubic);
  padding: 40px;
  border-radius: 5px;
}
.modal__button {
  background-color: var(--white-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal__icon {
  fill: #000000;
  transition: fill var(--animation) var(--cubic);
}
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--accent-color);
}
.form {
  width: 100%;
  height: 100%;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form__lable {
  margin-bottom: 5px;
}
.form__field:last-child {
  margin-bottom: 0px;
}
.form__record {
  margin-bottom: 20px;
}

.form__lable_textarea {
  margin-bottom: 4px;
}
.form__input_textarea {
  height: 120px;
  padding: 10px;
  resize: none;
  outline: none;
  border-radius: 3px;
  transition: border-color var(--animation) var(--cubic);
}
.form__input_textarea:focus {
  border-color: var(--accent-color);
}
.form__input {
  height: 40px;
  width: 100%;
  padding: 10px 40px;
  margin: 0;
  border: 1px solid #9e8787;
  border-radius: 3px;
  outline: none;
  transition: border-color var(--animation) var(--cubic);
}

.form__comment {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__sending {
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-self: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: #188ce8;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation) var(--cubic);
}
.button__sending:hover {
  background-color: var(--accent-color);
}
.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.modal_svg__icon {
  position: absolute;
  top: 48px;
  left: 13px;
  transform: translateY(-50%);
  transition: fill var(--animation) var(--cubic);
}
.form__span:focus-within .modal_svg__icon {
  fill: var(--accent-color);
}
.form__span:focus-within .form__input {
  border-color: var(--accent-color);
}
.checkbox__input {
  appearance: none;
}
.checkbox__span {
  border: 2px solid #000;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  margin-right: 10px;
}

.checkbox__input:checked + .checkbox__span {
  background-image: url(../img/icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
}

.checkbox__input:focus + .checkbox__span {
  border-color: var(--accent-color);
}

.form__consent {
  display: flex;
  align-items: center;
}
.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

/* =====Розмітка Features===== */

.title {
  color: var(--title-tex-color);
}
.features {
  padding-top: 94px;
}
.features__title {
  font-weight: var(--font-weight-title);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}
.features__about {
  margin: 0;
  padding-top: 10px;
}

.features__box {
  width: 270px;
  height: 120px;
  /* border: 1px solid #afb1b8; */
  margin-bottom: 30px;
  background-color: #f5f4fa;
  /* padding-top: 25px; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =======Робота======= */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: 1.16;
}
.work__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__action {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* =======Розмітка наша команда======== */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.our-team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: var(--font-weight-title);
  font-size: 32px;
  line-height: 1.16;
}
.our-team__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
}
.our-team__item {
  box-shadow: 0px 4px 4px rgba(207, 137, 137, 0.25);
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.our-team__about {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.our-team__worker {
  padding: 30px 30px;
  text-align: center;
  background-color: white;
}

/* =======Розмітка соцмереж======= */

.social__list {
  display: flex;
}
.social__item {
  margin-right: 10px;
  align-items: center;
}
.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  align-items: center;
  transition: background-color var(--animation) var(--cubic);
}
.social__icon {
  fill: #afb1b8;
  transition: fill var(--animation) var(--cubic);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: white;
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

/* =======логотипи компаній======= */

.logo__company {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo-company__item {
  display: flex;
}
.logo-company__link:hover .logo-company__icon,
.logo-company__link:focus .logo-company__icon {
  fill: var(--accent-color);
}

.logo-company__link:hover,
.logo-company__link:focus {
  border: 1px solid var(--accent-color);
}
.logo-company__icon {
  transition: fill var(--animation) var(--cubic);
}

.logo-company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  transition: border var(--animation) var(--cubic);
}

.logo-company__title {
  text-align: center;
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--title-tex-color);
  margin-bottom: 50px;
}

.logo-company__list {
  display: grid;
  grid-template-columns: repeat(6, 170px);
  gap: 30px;
}

/* =====Розмітка Футера===== */

.address__footer {
  font-style: normal;
  margin-top: 20px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__about {
  color: var(--white-text-color);
  margin-bottom: 9px;
}
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  color: var(--white-text-color);
}
.footer__list {
  margin-bottom: 0;
}
.footer-contact__item {
  margin-bottom: 8px;
}
.footer-contact__item:last-child {
  margin-bottom: 0px;
}

/* =======логотипи соцмереж футер ======= */

.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__box {
  margin-right: 60px;
}

.join {
  margin-right: 90px;
}

.join__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}
.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation) var(--cubic);
}
.footer-social__icon {
  fill: var(--white-text-color);
}

/* =======Підписка футер======= */
.footer__email {
  width: 358px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 15px;
  color: var(--white-text-color);
  margin-right: 10px;
}

.footer__button {
  padding: 10px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: #2196f3;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color var(--animation) var(--cubic);
}
.footer__button:hover,
.footer__button:focus {
  background-color: #188ce8;
}

.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}
.subscription__form {
  display: flex;
}

/* =======кнопки портфоліо======= */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;

  background-color: #f5f4fa;
  color: var(--title-tex-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: color var(--animation) var(--cubic),
    background-color var(--animation) var(--cubic),
    box-shadow var(--animation) var(--cubic);
}
.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.gallery__title {
  font-weight: var(--font-weight-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: var(--title-tex-color);
}
.gallery__link {
  display: block;
  transition: box-shadow var(--animation) var(--cubic);
}
.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery__about {
  font-size: 16px;
  line-height: 1.87;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--primary-tex-color);
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
}
.description {
  border-right: 1px solid #f5f4fa;
  border-bottom: 1px solid #f5f4fa;
  border-left: 1px solid #f5f4fa;
  padding: 20px 24px;
}
.portfolio__item {
  margin-right: 8px;
}

.portfolio__item:last-child {
  margin-right: 0px;
}
.gallery__trumb {
  position: relative;
  display: flex;
  overflow: hidden;
}
.gallery__action {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(32, 148, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--animation) var(--cubic);
}
.gallery__link:hover .gallery__action,
.gallery__link:focus .gallery__action {
  opacity: 1;
  transform: translateY(0);
}
