.features {
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }

  &__title {
    font-weight: var(--font-weight-title);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__list {
    margin: 0;

    @include placinggrid(1, 100%);

    @media screen and (min-width: 768px) {
      @include placinggrid(2, 354px);
    }
    @media screen and (min-width: 1200px) {
      @include placinggrid(4, 270px);
    }
  }

  &__about {
    margin: 0;
    padding-top: 10px;
  }

  &__box {
    width: 100%;
    height: 120px;
    /* border: 1px solid #afb1b8; */
    margin-bottom: 30px;
    background-color: #f5f4fa;
    /* padding-top: 25px; */
    border-radius: 4px;
    @include centeredflex();
  }
}
