// логотип
.nav__logo_span {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.nav__logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--font-weight-title);
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

// основні компоненти хедера

.navigation {
  // display: flex;
  // align-items: center;
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
  }
}
.navi {
  display: flex;
  align-items: center;

  @media screen and(max-width: 767px) {
    justify-content: space-between;
  }
}
.page__header {
  border-bottom: 1px solid #f5f4fa;
  padding-top: 24px;
  padding-bottom: 24px;
}

// навігація по сайту

.nav {
  display: flex;

  &__link-activ {
    color: var(--accent-color);
  }

  &__link-activ::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--accent-color);
    bottom: -37px;
    @media screen and (min-width: 1200px) {
      bottom: -31px;
    }
  }

  &__item {
    margin-right: 50px;
  }
  &__item:last-child {
    margin-right: 0;
  }
}

// контакт хедер

.contact {
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
  &__item:first-child {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
  &__item:first-child {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__icon {
    align-items: center;
    margin-right: 10px;
    fill: var(--primary-tex-color);
    transition: fill, var(--animation) var(--cubic);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
  }
  &__link {
    color: var(--primary-tex-color);
    display: flex;
  }
}

// Розмітка меню хедер

.menu__button {
  // position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;

  & .icon__closesvg {
    display: none;
  }
  &.is-open .icon__closesvg {
    display: block;
  }
  &.is-open .icon__menu {
    display: none;
  }

  &:hover .icon__menu {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.menu__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  z-index: 200;
  &.is-open {
    display: block;
  }
}
.menu__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover .icon__closesvg,
  &:focus .icon__closesvg {
    fill: var(--accent-color);
  }
}
.menu__container-modal {
  position: absolute;
  padding: 50px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__item {
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  &:last-child {
    margin-bottom: 0;
  }
}
.type {
  font-size: 40px;
}
.mobile__link-activ {
  color: var(--accent-color);
}
.mobile-menu__contact {
  margin-bottom: 64px;
}
.mobile-menu__connection {
  display: block;
}
.contact-tel {
  margin-bottom: 32px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__icon {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__icon:last-child {
  border: none;
  padding-right: 0;
}
.mobile-menu__icon:first-child {
  padding-left: 0;
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
