.link {
  position: relative;
  color: var(--title-tex-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--animation) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
