.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation) var(--cubic);
  z-index: 1;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 590px;
  background-color: var(--white-text-color);
  padding: 15px;
  transition: transform var(--animation) var(--cubic);
  padding: 40px;
  border-radius: 5px;
}
.button__sending {
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-self: center;
  font-weight: bold;
  @include type(
    var(--secondary-font-size),
    1.87,
    var(--secondary-letter-spacing)
  );
  color: var(--white-text-color);
  background-color: #188ce8;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation) var(--cubic);
}
.button__sending:hover {
  background-color: var(--accent-color);
}
