:root {
  --primary-tex-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --background-color: #2f303a;
  --font-weight-title: bold;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --animation: 250ms;
  --secondary-font-size: 16px;
  --secondary-letter-spacing: 0.06em;
}
